<!DOCTYPE html>
<html>
<head>
    <title>Contact - AI Car Parking System</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="contact.html">Contact</a></li>
 	
            </ul>
        </nav>
    </header>

    <main>
        <section id="contact-section">
            <h2>Contact</h2>
Phone Number : +91 9080368567<br>
E-mail : venugopal@gmail.com<br>
            <!-- Add contact form or content here -->
        </section>
    </main>

    <footer>
        <p>&copy; 2023 AI Car Parking System. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
